<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.5" targetFramework="net461" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net461" />
  <package id="FluentFTP" version="27.0.1" targetFramework="net461" />
  <package id="Google.Protobuf" version="3.21.7" targetFramework="net461" />
  <package id="K4os.Compression.LZ4" version="1.2.6" targetFramework="net461" />
  <package id="K4os.Compression.LZ4.Streams" version="1.2.6" targetFramework="net461" />
  <package id="K4os.Hash.xxHash" version="1.0.6" targetFramework="net461" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net461" />
  <package id="MySql.Data" version="8.0.28" targetFramework="net461" />
  <package id="Rebex.Common" version="5.0.7119" targetFramework="net461" />
  <package id="Rebex.Ftp" version="5.0.7119" targetFramework="net461" />
  <package id="Rebex.Networking" version="5.0.7119" targetFramework="net461" />
  <package id="SQLite" version="3.13.0" targetFramework="net461" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.115.5" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Data.SQLite" version="1.0.115.5" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.115.5" targetFramework="net461" />
  <package id="System.Data.SQLite.EF6" version="1.0.115.5" targetFramework="net461" />
  <package id="System.Data.SQLite.Linq" version="1.0.115.5" targetFramework="net461" />
  <package id="System.Memory" version="4.5.4" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net461" />
</packages>